.header{
  background-color: #131317;
  margin-bottom: 50px;
}

.header__container{
  width: 95%;
  margin: 0 auto;
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}


.nav{
  display: flex;
  gap: 30px; 
}
.nav a{
  display: block;
  padding: 20px 5px;
}
.nav a:hover{
  background-color: #3874FF;
}
.logo{
  display: flex;
  align-items: center;
}
.logo__img{
  width: 50px;
}
.logo__text{
  margin: 0;
}

.container__left{
  display: flex;
  gap: 60px;
}
.container__right{
  display: flex;
  align-items: center;
  
}

.boton{
  display: block;
  border: 1px solid #fff;

  padding: 5px 30px;

  border-radius: 50px;
}

.boton:hover{
  background-color:#3874FF;
}

/* HERO */
.hero{
  display: grid;
  grid-template-columns: 50% 50%;
 

}
.hero__text p{
  color: #7790B3;
  max-width: 600px;
}

.hero__text h1{
  max-width: 600px;
  font-size: 60px;
}

.hero img{
max-width: 100%;
width: 700px;
}

figure{
  margin: 0;
}

.btn-primary{
  display: inline-block;
  background-color: #3874FF;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 20px;
}